<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferverzugs Kanban Board</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ favicon_url }}">
</head>

<body>
    <table id="lieferungen">
        <colgroup>
            <col style="width: 35px;">
            <col style="width: 45px;">
            <col style="width: 50px;">
            <col style="width: 50px;">
            <col style="width: 20%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 69px;">
            <col style="width: 15%;">
            <col style="width: 50px;">
        </colgroup>
        <tbody id="lieferungen-body"></tbody>
    </table>
    <script src="/static/script.js"></script>
</body>

</html>